<%- include("partials/header") -%>
<!-- Display flash message -->
<% if(message.toString() != "") { %>
	<div class="flash-message flash-auth">
		<%= message %>
	</div>
<% } %>
<% if(err.toString() != ""){ %>
	<div class="flash-message flash-err">
		<%= err %>
	</div>
<% } %>

<!-- Authentication up form -->
<div class="forground-form-container d-none">
	<div class="forground-form">
		<div class="signup-register-container">
			<div class="auth-choice-container signup-container make-border-down">
				<p class="m-auto">
					Login
				</p>
			</div>
			<div class="auth-choice-container login-container pressed-btn make-border-right make-border-left">
				<p class="m-auto">
					Sign up
				</p>
			</div>
			<div class="auth-choice-filler give-border-bottom">
				<span class="m-auto"></span><span class="icon-container"><i class="far fa-times-circle exit-icon"></i></span>
			</div>
		</div>
		
		<div class="auth-form-container">
			
			<!-- Register form -->
			<form class="auth-form register-form make-border-right" action="/signup" method="POST">
				<input placeholder="Enter a username" type="text" class="form-input-ele" name="username">
				<input placeholder="Enter your name" type="text" class="form-input-ele" name="namefeild">
				<input placeholder="Enter your password" type="password" class="form-input-ele" name="password">
				<button class="form-input-ele form-submit" type="submit">
					Create acount
				</button>
			</form>
			
			<!-- Login form -->
			<form class="auth-form login-form make-border-right d-none" action="/login" method="POST">
				<input placeholder="Enter a username" type="text" class="form-input-ele" name="username">
				<input placeholder="Enter your password" type="password" class="form-input-ele" name="password">
				<button class="form-input-ele form-submit" type="submit">
					Login
				</button>
			</form>
			
			<!-- Oauth form -->
			<form class="auth-form oauth-form">
				<a href="/login/google" type="text" class="form-input-ele oauth-ele oauth-google">
					<p class="m-auto">
						Use Google acount
					</p>
				</a>
				<a href="/login/facebook" type="text" class="form-input-ele oauth-ele bg-primary oauth-facebook">
					<p class="m-auto">
						Use Facebook acount
					</p>
				</a>
				<a href="/login/github" type="text" class="form-input-ele oauth-ele oauth-github">
					<p class="m-auto">
						Use Github acount
					</p>
				</a>
			</form>
		</div>
		

	</div>
</div>

<div class='landing-background'></div>

<!-- Banner -->
<div class="banner-bg">
	<h1>Full Stack</h1>
	<img class="banner-img" src="https://serene-williams-bb8bee.netlify.app/images/Portfolieo/MernStack.png">
	<div>
		<h4 class="my-auto">My name is Anthony Cavuoti and i'm a full stack developer</h4>
	</div>
</div>

<!-- Skills -->
<div class="section-bg">
  <div class="section-container">
	<h2 class="section-title special">Skils</h2>
	<div class="make-line"></div>          
	<div class="row skill-row">
		
	  <!-- Skill cat -->
		<% if(!skillCats){ skillCats=[] } %>
		<% skillCats.forEach((skillCat, i) => { %>
		<div class="col-sm-6 category-container <% if(i === 1){ %> skill-category-2 <% }else if(i > 1){ %> lower-skill-category lower-category <% } %> <% if(i > 3){ %> d-none <% } %>">
			<h4 class="skill-cat"><%= skillCat.category %></h4>
			<ul class="skill-ul su-<%= (i + 1) %>">
				<% skillCat.skill.forEach((skill, j) => { %>
					<li class="skill-li sl-<%= (i + 1) %> <%if(j > 3){ %> d-none <% } %>"><%= skill %></li>
				<% }) %>
			</ul>
			<div class="skill-buttons-container d-flex">
				<% if(skillCat.skill.length > 4){ %>
					<button class="see-all-skills sas-0<%= (i + 1) %> <% if(currentUser && (currentUser.admin === "owner" || currentUser.admin === "admin")){ %> ml-auto mr-3 <% } %>">See all</button>
				<% } %>
				<a href="/skill/<%= skillCat._id %>/edit" class="see-all-skills normalize-link fix-letter-space <% if(skillCat.skill.length <= 4 && currentUser && (currentUser.admin === "owner" || currentUser.admin === "admin")){ %> mx-auto <% }else if(currentUser && (currentUser.admin === "owner" || currentUser.admin === "admin")){ %> mr-auto ml-3 <% }else{ %> d-none <%} %>">Edit</a>
			</div>
		</div>
		<% }) %>
		
		<% if(skillCats.length > 4){ %> 
			<div class="skill-buttons-container d-flex see-sll-skill-cat-container">
				<button class="see-all-skills ml-auto mr-auto">See all categorys</button>
			</div>
		<% } %>
	</div>
  </div>
</div>

<!-- Projects -->
<div class="section-bg">
  <div class="section-container">
	<div class='section-project-title-container'>
		<form class='d-flex search-form' id='experience-search-form-tag'  onsubmit='onSearchPressed(event)'>
				<h2 class="section-title">Projects</h2>
				<button class='see-search-input-button'>
					<i class="fas fa-search see-search-input-icon"></i>
				</button>
				<input name='skill' class='search-input-ele d-none search-form-input'/>
				<input name='priority' class='d-none' value='projects'/>
				<p class='search-description'>
					Search for project via desired skills
				</p>
		</form>
		
	</div>

	<div id='projects-container' class="row all-projects-container">

	  <!-- Project -->
		<% projects.forEach((project, i) => { %> 
		  <div class="col-xl-4 col-md-6 project-col-container <% if(i == 1){ %> project-col-2 <% }else if(i == 2){ %> lower-project-3 <% }else if(i > 2){ %> lower-project-3 lower-project-below-4 d-none <% } %>">
			<div class="project-container">
			  <img src="<%= project.thumbnail %>" class="thumbnail">
			  <div class="text-container">
				<h4 class="project-title"><%= project.title %></h4>
				<p class="project-description">
					<%= project.description %>
				</p>
				<div class="project-link-container">
					<% if(project.hasVisit === "true"){ %>
						<div class='project-action-buttons-container mr-auto'>
							<span class=''><a href='<%= project.visit %>' class='linkify project-action-button'>Visit</a><a href='<%= project.visit %>' target='_blank' class='linkify project-action-button'><i class="fas fa-external-link-alt"></i></a></span>
						</div>
					<% } %> 	
					<div class='project-action-buttons-container mr-3'>
						<span class=''><a href='/project/<%= project._id %>' class='linkify project-action-button'><i href='#' class="fas fa-info"></i></a></span>
					</div>
					<% if(project.hasVisit === "false" || (project.hasVisit === "true" && project.hasGitHub === "true")){ %>
						<div class='project-action-buttons-container mr-3'>
							<span class=''><a href='<%= project.github %>' class='linkify project-action-button'><i href='#' class="fab fa-github"></i></a></span>
						</div>
					<% } %>
				</div>
				 <% if(currentUser && (currentUser.admin === "owner" || currentUser.admin === "admin")){ %>
					<a href="/project/<%= project._id %>/edit" class="styled-button edit-project-edit-btn">Edit</a>
				 <% } %>
			  </div>
			</div>
		  </div>
		<% }) %>
		
	  </div>
	  <% if(projects.length > 3){ %> 
		<button class="see-all-projects">See all</button>
	  <% } %>
  </div>
</div>

<!-- Experience -->
<%- include('./experience/partials/body.ejs') -%>

<!-- About me -->
<div class="section-bg-green">
  <div class="section-container">
	  <h2 class="section-title make-white">About me</h2>
	  <div class="row">
		  <div class="col-lg-6">
			  <p class="make-white">
				  Hello, I’m an up incoming Web Developer who is very passionate about coding. While I have been coding for 				  only three years, I have been using software and technology to solve problems my entire life! When I finally 					 discovered coding, naturally I had become a coding fanatic. Please see my work at anthonycavuoti.com
			  </p>
			  <p class="make-white">
				  It would mean the world to me to get an opportunity to be part of a team of passionate developers, to be part 				  of results-driven development, and an opportunity to start my coding career.
			  </p>
		  </div>
		  <div class="col-lg-6 d-flex">
			  <img class="about-me-img" src="https://serene-williams-bb8bee.netlify.app/images/SantaYnezHeadPhoto.jpg">
		  </div>
	  </div>
  </div>
</div>

<!-- Contact me -->
<div class="section-bg">
  <div class="section-container">
	<h2 class="section-title">Contact info</h2>
	<div id="skill-line"></div>  
	<div class="contact-into-container">
	  <div class="contact-info-pair">
		<h4 class="contact-label">Email:&nbsp;</h4>
		<p class="contact-data">anthonycavuoti@gmail.com</p>
	  </div>
	  <div class="contact-info-pair mt-3">
		<h4 class="contact-label">Phone:&nbsp;</h4>
		<p class="contact-data">(424)201-9017</p>
	  </div>
	  <div class="contact-info-pair mt-3">
		<h4 class="contact-label">Facebook:&nbsp;</h4>
		<a target=”_blank” href="https://www.facebook.com/anthony.cavuoti" class="contact-data linkify">AnthonyCavuoti</a>
	  </div>
	  <div class="contact-info-pair mt-3">
		<h4 class="contact-label">Linkedin:&nbsp;</h4>
		<a target=”_blank” href="https://www.linkedin.com/in/anthony-cavuoti-b8a1911a9/" class="contact-data linkify">Ant3ny</a>
	  </div>
	</div>

	<h2 class="section-title">Contact me</h2>
	<form class="contct-form" action="/contactMe" method="POST">
	  <label class="mb-0">Email</label>
	  <input class="contact-text my-3" type="email" name="email">
	  <label class="mb-3">Message</label>
	  <textarea class="contact-text" name="message"></textarea>
	  <button type="submit" class="styled-button mt-4">Send</button>
	</form>
  </div>
</div>

<!-- Custum Javascript -->
<script src="nebulaMaker/three.min.js"></script>
<script src="nebulaMaker/postprocessing.min.js"></script>
<script src="nebulaMaker/index.js"></script>
<script>
    init(document.querySelector('.landing-background'));
</script>
<%- include("partials/footer") -%>