<%- include('../partials/altHeader') -%>
<style>
    html{
        background-color: #EFF6FB;
    }
    body{
        display:flex;
        flex-direction: column;
        height: auto;
        background-color: #EFF6FB;
    }
</style>
<div class="section-bg my-0 extra-project-page-conter-style">
    <div class="section-container">
        <div class='search-page-box-container'>
            <div class='search-page-box'>
                <form id='search-form-tag' class='search-page-box-inner-container' onsubmit='onSearchForm(event)'>
                    <button type='submit' class='search-page-search-button'><i class="fas fa-search search-page-search-icon"></i></button>
                    <input id='search-form-input' name='skill' class='search-page-input' value='<%= search %>'/>
                    <input id='search-form-input' name='priority' class='search-page-input d-none' value='<%= settings.priorty %>'/>
                </form>
            </div>
        </div>
        <% if(settings.priorty === 'projects'){ %>
            <div>
                <%- include('./body.ejs', {items: projects, name: 'project(s)'}) -%>
            </div>
            <div class='mt-2'>
                <%- include('./body.ejs', {items: experiences, name: 'experience(s)'}) -%>
            </div>
        <% }else{ %>
            <div>
                <%- include('./body.ejs', {items: experiences, name: 'experience(s)'}) -%>
            </div>
            <div class='mt-2'>
                <%- include('./body.ejs', {items: projects, name: 'project(s)'}) -%>
            </div>
        <% } %>
    </div>
</div>
<!-- Custum Javascript -->
<script src="/js/searchFunction.js"></script>
<%- include('../partials/altFooter') -%>