<!-- Edit project view -->
<%- include("../partials/altHeader") -%>
	<!-- Custum css -->
	<link rel="stylesheet" type="text/css" href="/css/projectStyle.css">
	<div class="section-bg">
		<div class="section-container">
			<h2 class="section-title special">
				Edit Project	
			</h2>
			<form class="project-form project-form-js" action="/project/<%= project._id %>?_method=PUT" method="POST">
				<input class="form-ele" type="text" name="imgUrl" placeholder="image url" value="<%= project.thumbnail %>">
				<input class="form-ele mt-2" type="text" name="title" placeholder="Project title" value="<%= project.title %>">
				<textarea class="form-ele mt-2" name="description" placeholder="Project description"><%= project.description %></textarea>
				<div class="form-ele mt-2 d-flex">
					<div class="text-container p-0">
						<p class="mb-0 mr-5 my-auto">
							Can visit?
						</p>
					</div>
					<input class="my-auto checkbox-pro-option" type="checkbox" name="visitableProject" <% if(project.hasVisit === "true"){ %> checked='on' <% } %>>
				</div>
				<input class="form-ele mt-2" type="text" name="visitUrl" placeholder="url" value="<%= project.visit %>">
				<div class="form-ele mt-2 d-flex">
					<div class="text-container p-0">
						<p class="mb-0 mr-5 my-auto">
							Has visit link
						</p>
					</div>
					<input class="my-auto checkbox-pro-option" type="checkbox" name="visitableScorce" <% if(project.hasGitHub === "true"){ %> checked='on' <% } %>>
				</div>
				<input class="form-ele mt-2" type="text" name="githubUrl" placeholder="Github url" value="<%= project.github %>">
				<div class="d-flex">
					<button class="form-ele styled-button mt-2" type="submit">
						Update project
					</button>
					<button class="form-ele styled-button mt-2 delete-btn-js" type="submit">
						Delete project
					</button>
				</div>
			</form>
		</div>	
	</div>
	
<!-- Custum javascript -->
<script src="/js/projectFunction.js"></script>
<%- include("../partials/altFooter") -%>