<%- include('../partials/altHeader') -%>
<style>
   html {
      background-color: #eff6fb;
   }
   body {
      display: flex;
      flex-direction: column;
      height: auto;
      background-color: #eff6fb;
   }
</style>
<div class="section-bg my-0 extra-project-page-conter-style">
   <div class="section-container">
      <h2
         class="
            section-title
            align-left
            mb-2
            extra-project-page-section-title-style
         "
      >
         <%= project.title %>
      </h2>
      <div class="row top-project-row">
         <div class="col-md-6 porject-info-col">
            <img class="project-page-img" src="<%= project.thumbnail %>" />
            <div class="project-page-desciption mt-3">
               <%= project.description %>
            </div>
            <div class="project-page-action-buttons-container mt-3">
               <% if(project.hasVisit === "true"){ %>
               <span class="project-page-visit-action-button mr-3"
                  ><a
                     href="<%= project.visit %>"
                     class="linkify project-action-button"
                     >Visit</a
                  ><a
                     href="<%= project.visit %>"
                     target="_blank"
                     class="linkify project-action-button"
                     ><i class="fas fa-external-link-alt"></i></a
               ></span>
               <% } if(project.hasVisit === "false" || (project.hasVisit ===
               "true" && project.hasGitHub === "true")){ %>
               <span class="project-page-github-action-button"
                  ><a
                     href="<%= project.github %>"
                     class="linkify project-action-button"
                     ><i class="fab fa-github"></i></a
               ></span>
               <% } %>
            </div>
         </div>
         <div class="col-md-6 mb-0 project-page-skills-involved-container">
            <h3 class="project-page-skills-involved-header">Skills Involved</h3>
            <div
               class="
                  row
                  project-page-skills-involved-row
                  skills-show-container
               "
            >
               <!-- prettier-ignore -->
               <ul class='skills mt-4 two-col-list list-skills-container'>
                    <%  project.skill.forEach((skill, i) => { %>
                        <li class='<%= i === 0 ? "first-li" : "" %>'><a href='/search?skill=<%= skill %>&priority=experience'><%= skill %></a></li>
                    <% }) %>
                </ul>
            </div>
            <!-- <button class="see-all-projects mx-auto">See all</button> -->
         </div>
      </div>
   </div>
</div>

<%- include('../partials/altFooter') -%>
